<a href="https://colab.research.google.com/github/Farukkibria/introduction/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment *2*

In [ ]:
# Creating variables
name = "Faruk"
age = 38
fav_color = "blue"
# Printing variables
print("Name:", name)
print("Age:", age)
print("Favourite Color:", fav_color)

Name: Faruk
Age: 38
Favourite Color: blue

In [ ]:
name = "Faruk"
address = 'Dinajpur'
age = 38
weight = 74.5
is_ok = True
has_done = False
result = None
print(type(name))
print(type(age))
print(type(result))
print(type(is_ok))
print(type(weight))

<class 'str'>
<class 'int'>
<class 'NoneType'>
<class 'bool'>
<class 'float'>

In [ ]:
length=7
width=5
area=length*width
print("Area=", area)
perimeter= 2*(length+width)
print("Perimeter=", perimeter)

Area= 35
Perimeter= 24

In [ ]:
food=["rice","potato","fish","beef","mutton"]
print(food[0])
print(food[4])

rice
mutton

In [ ]:
numbers=[1,4,2,3,6]
numbers.insert(1,7)
numbers.remove(1)
numbers.sort()
print(numbers)

[2, 3, 4, 6, 7]

In [ ]:
my_details={"name ":"faruk", "id": 86,"city":"dinajpur", "country":"bangladesh"}
print(my_details)

{'name ': 'faruk', 'id': 86, 'city': 'dinajpur', 'country': 'bangladesh'}

In [ ]:
dinajpur=(25,88)
print (dinajpur)

(25, 88)

In [ ]:
ser={"red","blue"}
seri={"red","black"}
uni= ser | seri
inter= ser & seri
print(uni)
print(inter)

{'black', 'blue', 'red'}
{'red'}

In [ ]:
a=5
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("zero")

positive

In [ ]:
x="student"
age=22
if x=="student" and age<25:
  print("eligible for discount")
elif x=="senior" and age>60:
  print("eligible for discount")
else:
  print("not eligible for discount")

eligible for discount

In [ ]:
x=range(2,1)
for n in x:
  if n%2==0:
    print(n)
  else:
    continue

2
4
6
8
10

In [ ]:
p=3
for n in range(0,3):
  p=p-1
  print(" "*p, "*"*(2*n+1))

   *
  ***
 *****

In [ ]:
def ctof(C):
  Fer=(C*9/5)+32
  return Fer
CEL=ctof(32)
print(CEL)

89.6

In [ ]:
def area (x,y):
  A=x*y
  return A
aa=area(4,5)
print(aa)

20